@mixin clearfix {
  &:after {
    content: "";
    clear: both;
    display: table;
  }
}

@mixin common-button {
  background: $orange;
  color: $light-yellow;

  &:hover, &:active {
    background: darken($orange, 5);
    color: $light-yellow;
  }

  &:focus {
    background: darken($orange, 10);
    color: $light-yellow;
  }

}