$dark-orange: #fd5039;
$orange: #fd7303;
$light-orange: #fd9d4f;
$light-yellow: #fde181;
$red: #fd4403;
$dark-red: #260101;

$primary-background: $dark-orange;
$secondary-background: $dark-red;
$primary-text-color: $light-yellow;
